.idea
!.idea/
.idea/*
!.idea/runConfigurations/
*.iml
*.ipr
*.iws
*.log*
target/
**/project/project/**
.DS_Store
.gradle/
build/
payara-micro/
jboss-eap-*.zip
.eap6/
overlays
.classpath
.project
.settings
/out/
